.schedule-page {
  padding: 2em;
  max-width: 1200px;
  margin: 0 auto;

  h1 {
    margin-bottom: 2rem;
    color: var(--p-text-color);
  }
}
:host {
  display: block;
}

.calendar-card {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2rem); /* optional: Platz für Header/Abstände */
}

.calendar-wrapper {
  flex: 1;           /* nimmt restliche Höhe ein */
  display: flex;
  flex-direction: column;
}

calendar-wrapper app-calendar {
  flex: 1;
}

.button-container {
  display: flex;
  justify-content: space-between; /* verteilt die Elemente an den Enden */
}
