<aside class="sidebar">
    <div class="sidebar-top">
        <div class="brand">
            <p-image src="/logo.png" alt="Goaldone Logo" [preview]="false" width="50px" styleClass="brand-logo"
                     routerLink="/app" />
            <span>Goaldone</span>
        </div>
        @if(!isSuperAdmin()){
            <p-menu [model]="navigationItems"></p-menu>
        }
    </div>
    <div class="menu-navigation-items">
        <p-menu [model]="settingsItems()"></p-menu>
    </div>
</aside>


