.flex-column {
    display: flex;
    flex-direction: column;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-3 {
    gap: 1rem;
}

.warn-text {
    color: var(--p-red-500);
}

.mt-2 {
    margin-top: 0.5rem;
}
