.page-container {
  padding: 2em;
  max-width: 1200px;
  margin: 0 auto;

  h1 {
    margin-bottom: 2rem;
    color: var(--p-text-color);
  }
}

.working-hours-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.working-hour-item {
  display: grid;
  grid-template-columns:
    auto        /* Nummer */
    1fr         /* Start Day */
    1fr         /* End Day */
    1fr         /* Start Time */
    1fr         /* End Time */
    auto;       /* Delete Button */

  gap: 0.5rem;
  width: 100%;
  align-items: center;
}

.button-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.working-hour-item label {
  width: 30px;
  display: inline-block;
  text-align: center;
}

p-select,
p-datePicker {
  min-width: 150px;
}

.breaks-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.break-item {
  display: grid;
  grid-template-columns:
    2fr          /* Label */
    1.5fr        /* Break Type */
    1fr          /* Start Time */
    1fr          /* End Time */
    auto         /* Edit Button */
    auto;        /* Delete Button */
  gap: 0.5rem;
  width: 100%;
  align-items: center;
  padding-block: 0.5rem;

  > * {
    min-width: 0;
  }
}

.break-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  p-label {
    font-weight: 500;
  }

  p-label:last-child {
    font-size: 0.875rem;
    color: var(--p-text-color-secondary);
  }
}

.break-actions {
  display: flex;
  gap: 0.5rem;
}
