.page-container {
  padding: 2em;
  max-width: 1200px;
  margin: 0 auto;

  h1 {
    margin-bottom: 2rem;
    color: var(--p-text-color);
  }
}

.working-hours-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.working-hour-item {
  display: grid;
  grid-template-columns:
    30px        /* Nummer */
    1.5fr       /* Day of Week */
    1fr         /* Is Work Day */
    1fr         /* Start Time */
    1fr         /* End Time */
    auto;       /* Delete Button */

  gap: 0.5rem;
  width: 100%;
  align-items: center;
}

.button-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.gap-2 {
  gap: 0.5rem;
}

p-select,
p-datePicker {
  min-width: 150px;
}
