<div class="page-container">
  <h1>{{ title }}</h1>

  <p-card class="working-hours-container" header="Arbeitszeiten">
    <div class="button-wrapper">
      <p-button
        label="Arbeitszeit hinzufügen"
        icon="pi pi-plus"
         (click)="addWorkingHours()">
      </p-button>

      <p-button
        label="Speichern"
        icon="pi pi-save"
        (click)="saveWorkingHours()">
      </p-button>
    </div>

    <br>

    <div class="working-hours-list">

      @for (c of workingHours; track $index; let i = $index) {
        <div class="working-hour-item">

          <label>{{ i + 1 }}.</label>

          <!-- Day of Week -->
          <p-select
            [options]="days"
            [(ngModel)]="c.dayOfWeek"
            placeholder="Wochentag"
            optionLabel="label"
            optionValue="value">
          </p-select>

          <!-- Is Work Day -->
          <div class="flex items-center gap-2">
            <p-checkbox
              [(ngModel)]="c.isWorkDay"
              [binary]="true"
              inputId="isWorkDay{{i}}">
            </p-checkbox>
            <label for="isWorkDay{{i}}">Arbeitstag</label>
          </div>

          <!-- Start Hour -->
          <p-datePicker
            [(ngModel)]="c.startTime"
            [timeOnly]="true"
            hourFormat="24"
            [disabled]="!c.isWorkDay"
            placeholder="Startzeit">
          </p-datePicker>

          <!-- End Hour -->
          <p-datePicker
            [(ngModel)]="c.endTime"
            [timeOnly]="true"
            hourFormat="24"
            [disabled]="!c.isWorkDay"
            placeholder="Endzeit">
          </p-datePicker>

          <!-- Delete Button -->
          <p-button
            icon="pi pi-trash"
            severity="danger"
            (click)="removeWorkingHour(i)">
          </p-button>

        </div>
      }

    </div>
  </p-card>

  <br>

  <p-card class="breaks-container" header="Pausen">
    <p>Pausen werden in Kürze hier konfiguriert.</p>
  </p-card>
</div>
