.tasks-page {
  padding: 2em;
  max-width: 1200px;
  margin: 0 auto;

  h1 {
    margin-bottom: 2rem;
    color: var(--p-text-color);
  }
}

:host {
  display: block;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.action-buttons {
  display: flex;
  gap: 0.25rem;
}
