.general, .schedule, .chunk {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.full-width {
  grid-column: 1 / -1;
}

.input-row label {
  display: block;
  margin-bottom: 0.5rem;
}

.input-row p-inputtext,
.input-row p-select,
.input-row p-datepicker,
.input-row p-inputnumber,
.input-row textarea,
.input-row input {
  width: 100%;
}

:host ::ng-deep textarea {
  width: 100%;
  resize: none;
}


:host ::ng-deep .button {
  width: 100%;
}

/* Buttons */
.button-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  width: 100%;
}

:host ::ng-deep .button-row .p-button {
  width: 100%;
}

:host ::ng-deep .button-row .p-button button {
  width: 100%;
}

.chunk-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chunk-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.chunk-item label {
  width: 30px;
}
