@font-face {
    font-family: 'Inter';
    src: url('/fonts/InterVariable.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-family: 'Inter', sans-serif;
    --p-font-family: 'Inter', sans-serif;
}

* {
    font-family: var(--font-family);
}
@import 'primeicons/primeicons.css';

:root {
  --p-content-padding: 1rem;
  --p-card-body-padding: 1rem;

  --p-surface-ground: #000;
  --p-surface-card: #000;
  --p-primary-card: #FFF;
  --p-content-border-color: #FFF;
}
