<app-base-dialog
    [(visible)]="visible"
    header="Passwort ändern"
    actionLabel="Passwort speichern"
    actionIcon="pi pi-check"
    [loading]="loading()"
    [errorMessage]="errorMessage()"
    (confirm)="save()"
    (close)="close()">

    <div class="field-container">
        <label for="currentPassword">Aktuelles Passwort</label>
        <p-password
            id="currentPassword"
            [(ngModel)]="currentPassword"
            name="currentPassword"
            [feedback]="false"
            [toggleMask]="true"
            appendTo="body"
            styleClass="full-width"
            placeholder="Aktuelles Passwort" />
    </div>

    <div class="field-container">
        <label for="newPassword">Neues Passwort</label>
        <p-password
            id="newPassword"
            [(ngModel)]="newPassword"
            name="newPassword"
            [toggleMask]="true"
            appendTo="body"
            styleClass="full-width"
            placeholder="Neues Passwort" />
        <small>Mindestens 8 Zeichen</small>
    </div>
</app-base-dialog>
